epublib-core/bin/
epublib-core/.classpath
epublib-core/.project
epublib-core/.settings/
epublib-tools/bin/
epublib-tools/.classpath
epublib-tools/.project
epublib-tools/.settings/
epublib-checkstyle/target/
